<p id="notice"><%= notice %></p>

<h1>Articl.es</h1>
<h3>... what's "Articl" in Spanish anyway?</h3>
		
<div class = "view_buttons">
		<td><%= link_to image_tag("arrow_back.png", :border => 0, :title => "All Articles"), articles_path %></td>
		<td><%= link_to image_tag("application_edit.png", :border => 0, :title => "Edit"), edit_article_path(@article) %></td>
		<td><%= link_to image_tag("delete.png", :border => 0, :title => "Delete"), @article, confirm: 'Are you sure?', method: :delete %></td>
		<td><%= mail_to "guy@gmail.com", image_tag("email.png", :border => 0, :title => "Email") , :subject => @article.title, :body => article_url(@article)  %></td>
</div>

<h4>
  <%= @article.title %>
</h4>

<p>
  by
  <%= @article.author %>. <%= pluralize(@article.edit_count, "edit") %> since <%= @article.creation_date %>
</p>

<p>
  <%= simple_format(@article.body) %>
</p>

