<p id="notice"><%= notice %></p>

<h1>Articl.es</h1>
<h3>... what's "Articl" in Spanish anyway?</h3>
		
<div class = "view_buttons">
		<td><%= link_to 'list all articles', articles_path %></td>
		<td><%= link_to 'edit', edit_article_path(Article) %></td>
		<td><%= link_to 'destroy', Article, confirm: 'Are you sure?', method: :delete %></td>
		<td><%= link_to 'email', Article %></td>
</div>

<h4>
  <%= @article.title %>
</h4>

<p>
  by
  <%= @article.author %>. <%= pluralize(@article.edit_count, "edit") %> since <%= @article.creation_date %>
</p>

<p>
  <%= @article.body %>
</p>

