- title "User Sessions"
%table
  %tr
    %th Name
  - for user_session in @user_sessions
    %tr
      %td= user_session.name
      %td= link_to "Show", user_session
      %td= link_to "Edit", edit_user_session_path(user_session)
      %td= link_to "Destroy", user_session, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New User Session", new_user_session_path
