<% title "User Sessions" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for user_session in @user_sessions %>
    <tr>
      <td><%= user_session.name %></td>
      <td><%= link_to "Show", user_session %></td>
      <td><%= link_to "Edit", edit_user_session_path(user_session) %></td>
      <td><%= link_to "Destroy", user_session, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User Session", new_user_session_path %></p>
